/* initial setup start  */
* {
    font-family: var(--primary-font-family);
}

body {
    color: var(--primary-font-color);
    font-size: var(--primary-font-size);
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #DB0E1E;
    --secondary-color: #dd2332;
    --primary-font-color: #101010;
    --secondary-font-color: #FFFFFF;
    --tertiary-font-colot: #54595F;
    --footer-color: #0E0A38;
    --primary-font-family: "Poppins", sans-serif;
    --primary-font-size: 1.1rem;
    --secondary-font-size: 2.5rem;
    --expertise-color: rgb(239, 248, 255);
}

body h2 {
    font-weight: 550;
    font-size: var(--secondary-font-size);
    color: var(--primary-color);
    font-style: italic;
    text-transform: capitalize;
}

h2 span {
    color: var(--primary-font-color);
    font-style: normal;
}

h2:hover {
    color: var(--footer-color);
}

.Under_line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    margin: 1rem 0 1rem 0;

}

.Under_line .udot,
.Under_line .uline {
    display: block;
    height: 4px;
    background-color: var(--secondary-color);
    border-radius: 5px;

}

.Under_line .udot {
    width: 4px;
}

.Under_line .uline {
    width: 7rem;
}

.primary_link,
.secondary_link {
    font-size: .9rem;
    display: inline-block;
    color: var(--secondary-font-color);
    background-color: var(--primary-color);
    padding: .6rem 1.2rem;
    border-radius: 0.3rem;
    margin-top: .8rem;
    transition: all .3s ease;

}

.secondary_link {
    background-color: var(--secondary-color);
}

.primary_link:hover,
.secondary_link:hover {
    background-color: var(--footer-color);
}

/* initial setup end  */

/* header part  */
.logo img {
    width: 11rem;
}

nav li {
    transition: all .3s ease;
}

nav li:hover,
.active_page {
    color: var(--primary-color);
}

.hero {
    height: 100vh;
    background-color: #efedff;
}

.hero p {
    color: var(--tertiary-font-colot);
}

.hero_img {
    width: 120rem;
}

/* service section  */
.service_section,
.service_section .service_grid {
    margin: 4.5rem 0 4.5rem 0;
}

.service_grid p {
    color: var(--tertiary-font-colot);
}

.service_grid i {
    color: var(--secondary-color);
}

.expertise_section i {
    color: var(--secondary-color);
}

.expertise_grid div {
    transition: all .3s ease;
}

.expertise_grid div:hover {
    background-color: var(--secondary-font-color);
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.176);
}

.preview_card {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.18);
    border-radius: .5rem;
}

.grid_site {
    height: 75%;
    overflow: hidden;
}

.grid_site iframe {
    width: 100%;
    height: 2600px;
    border: none;
    transform: translateY(0);
    transition: transform 5s ease;
    pointer-events: none;
    overflow: hidden;
}

.preview_card:hover .grid_site iframe {
    transform: translateY(-2200px);
}

.grid_text {
    height: 25%;
}

.clients_section {
    background-color: var(--expertise-color);
}

.clients_section img {
    width: 20rem;
    height: 15rem;
}