/* initial setup start  */
* {
    font-family: var(--primary-font-family);
}

body {
    background-color: rgb(243, 253, 255);
    color: var(--primary-font-color);
    font-size: var(--primary-font-size);
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #DB0E1E;
    --secondary-color: #dd2332;
    --primary-font-color: #101010;
    --secondary-font-color: #FFFFFF;
    --tertiary-font-color: #54595F;
    --footer-color: #0E0A38;
    --primary-font-family: "Poppins", sans-serif;
    --primary-font-size: 1.1rem;
    --secondary-font-size: 2.5rem;
    --tertiary-font-size: 3rem;
    --expertise-color: rgb(239, 248, 255);
}

body h1 {
    font-size: var(--tertiary-font-size);
    font-weight: bold;
}

body h2 {
    font-weight: 550;
    font-size: var(--secondary-font-size);
    color: var(--primary-color);
    font-style: italic;
    text-transform: capitalize;
    transition: all .3s ease;
}

h2 span {
    color: var(--primary-font-color);
    font-style: normal;
}

h2:hover {
    color: var(--footer-color);
}

.Under_line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    margin: 1rem 0 1rem 0;

}

.Under_line .udot,
.Under_line .uline {
    display: block;
    height: 4px;
    background-color: var(--secondary-color);
    border-radius: 5px;

}

.Under_line .udot {
    width: 4px;
}

.Under_line .uline {
    width: 7rem;
}

.primary_link,
.secondary_link {
    font-size: .9rem;
    display: inline-block;
    color: var(--secondary-font-color);
    background-color: var(--primary-color);
    padding: .6rem 1.2rem;
    border-radius: 0.3rem;
    margin-top: .8rem;
    transition: all .3s ease;

}

.secondary_link {
    background-color: var(--secondary-color);
}

.primary_link:hover,
.secondary_link:hover {
    background-color: var(--footer-color);
}

a {
    transition: all .3s ease;
}

/* initial setup end  */

/* header part  */
.logo img {
    width: 11rem;
}

nav li {
    transition: all .3s ease;
}

nav li:hover,
.active_page {
    color: var(--primary-color);
}

.hero {
    height: 100vh;
    background-color: #efedff;
}

.hero p {
    color: var(--tertiary-font-color);
}

.hero_img {
    width: 160rem;
}

/* service section  */
.service_section,
.service_section .service_grid {
    margin: 4.5rem 0 4.5rem 0;
}

.service_grid p {
    color: var(--tertiary-font-color);
    font-size: 1rem;
}

.service_grid i {
    color: var(--secondary-color);
}

.expertise_section i {
    color: var(--secondary-color);
}

.expertise_grid div {
    transition: all .3s ease;
}

.expertise_grid div:hover {
    background-color: var(--secondary-font-color);
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.176);
}

.preview_card {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.18);
    border-radius: .5rem;
}

.grid_site {
    height: 75%;
    overflow: hidden;
}

.grid_site iframe {
    width: 100%;
    height: 2600px;
    border: none;
    transform: translateY(0);
    transition: transform 5s ease;
    pointer-events: none;
    overflow: hidden;
}

.preview_card:hover .grid_site iframe {
    transform: translateY(-2200px);
}

.grid_text {
    height: 25%;
}

.clients_section {
    background-color: var(--expertise-color);
}

.clients_section img {
    width: 20rem;
    height: 15rem;
}

footer {
    width: 100%;
    padding: 6rem 0 1rem 0;
    background-color: var(--footer-color);
}

footer img {
    width: 13rem;
}

footer p,
footer a {
    font-size: .95rem;
}

footer .social_links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.7rem;
    height: 2.62rem;
    border: 1px solid rgba(195, 195, 195, 0.554);
    border-radius: 50%;
    transition: all .3s ease;
}

footer .social_links:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

footer .links_1 {
    width: 14rem;
}

footer .links_2 {
    width: 25rem;
}

footer .links_1 a:hover,
footer .links_2 a:hover {
    color: var(--primary-color);


}

footer .footer_about {
    width: 50rem;
}

.fa-angle-up {
    padding: .4rem 1.55rem .5rem .6rem;
    font-size: 1.2rem;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-font-color);
    border-radius: 3px;
}

.fa-angle-up:hover {
    background-color: #130d53;
}

/* About Page start  */
.page_hero {
    background: url(../Assets/images/page_hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page_hero .page_hero_overlay {
    height: 100%;
    width: 100%;
    background-color: #00000078;
}

.page_hero .container {
    padding: 4.6rem 0 4.6rem 0;
}

.about_about_img {
    width: 160rem;
}

.about_goal_img,
.about_story_img {
    width: 97rem;
}

.about_choose_img {
    width: 50rem;
}

.about_about img,
.about_goal img,
.about_story img,
.about_choose img {
    width: 100%;
    border-radius: .4rem;
}

.about_about,
.about_goal,
.about_story,
.about_choose {
    font-size: .98rem;
}

.choose {
    width: 12rem;
    height: 4.3rem;
}

/* CLient Cards  */
.client_card {
    width: 13rem;
    height: 13rem;
    border-radius: .3rem;
}

.client_name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.713);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0%;
    position: relative;
    top: 0;
    z-index: 2;
    border-radius: .3rem;
    transition: all .32s ease;
}

.client_image {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: .3rem;
}

.client_card:hover .client_name {
    height: 100%;
    margin-top: -100%;
}

/* client cards */

/* blog cards  */

.img_overlay {
    position: relative;
    z-index: 1;
    height: 11rem;
}

.img_overlay img {
    height: 100%;
    width: 100%;
    transition: all .3s ease;

}

.blog_overlay {
    position: relative;
    z-index: 4;
    margin-top: -60%;
    margin-left: -5%;
    top: 0;
    height: 130%;
    width: 110%;
    color: white;
    background: transparent;
    transition: all .3s ease;
}

.blog_overlay .date {
    line-height: 1rem;
    height: 3.3rem;
    width: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgb(255, 23, 77);
    position: relative;
    bottom: 0;
    margin-top: 26%;
    margin-left: -4%;
    cursor: pointer;
}

.blog-card:hover .img_overlay img {
    transform: rotate(2deg) scale(1.05);
}

.blog-card:hover .blog_overlay {
    background-color: rgba(255, 255, 255, 0.239);
}

.blog-card:hover .blog_head {
    color: var(--primary-color);
}

/* blog cards done  */

/* contact cards  */

.card_icon {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(84, 89, 95);
    border-radius: 50%;
    font-size: 2.5rem;
}

.grid_card,
.grid_card:hover .card_icon,
.grid_card:hover h3 {
    transition: all .3s ease;
}

.grid_card:hover {
    border: 1px solid rgba(0, 0, 0, 0.628);
    transform: translateY(-10px);
}

.grid_card:hover .card_icon {
    color: var(--primary-color);
    background-color: white;
    border: 2px solid var(--primary-color);
}

.grid_card:hover h3 {
    color: var(--primary-color);
}

.form_info {
    width: 50%;
}

.form_info form div input textarea {
    width: 100%;
}